.input-container {
    position: relative;
}

.input-field {
    width: 100%;
    margin: 10px 0;
    padding: 0 40px 0 15px;
    border: 1px #D7D9D7 solid;
    border-radius: 6px;
    height: 45px;
    font-size: 16px;
    box-sizing: border-box;
}

.input-field::placeholder {
    font-size: 14px;
}

.input-field:focus-visible {
    outline: none;
}

.input-field::placeholder {
    color: #D7D9D7;
}

.password-show-button {
    position: absolute;
    top: 50%;
    left: calc(100% - 40px);
    transform: translate(0, -50%);
    width: 15px;
    margin-left: 10px;
    cursor: pointer;
}